*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
*.py


# CDK asset staging directory
.cdk.staging
cdk.out
template.yaml
.aws-sam
.venv/pyvenv.cfg
.DS_Store
.vscode
cdk.out
aws/dist
workspace.code-workspace
private-todo.md


# Folders from main branch that may linger and should be ignored for this branch
lambda/
app_cdk/
core_packages
#doc_files is for code documentation, not for gh-pages
doc_files/
lambda_layers/

